h1 {
	color: rgb(2, 132, 130);
	text-align: center;
	
}
h2 {
	color: #FFD700;
	text-align:center;
}

body {
	text-align: center;
}

p {
	text-align: center;
}

nav {
	background-color: #808080;
	height: 88px;

}

nav a {
	background-color: #ffbf00;
	text-decoration: none;
	color: #ffffff;
	padding: 35px;
	display: block;
	float: left;
}

nav a:hover {
	background-color: #ee5f3c;
}

.board {
		height: 50%;
		width: 50%;
		display:inline-block;
		

}

.card {
		height: 200px;
		width: 150px;
		margin: 8%;
		background-color: #FFFF00;
		border: 1px solid #000000;
		border-radius: 10px;
		float: left;

}

.clearfix.after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}


span {
	color:#ff0000;
}

footer{
	background-color: #808080;
	text-align: center;
	clear: both;
}

img {
	height: 200px;
	width: 150px
}
